@import "tailwindcss";

@theme {
  --color-lys-gray-light: #f2f2f2;
  --color-lys-gray: #bcbcbc;
  --color-lys-gray-medium: #cecece;
  --color-lys-gray-dark: #606060;
  --color-lys-black: #222222;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
