body {
  margin: 0;
  padding: 0;
}

// im using this because i started coding this last 2017
// todo: is to switch this to tailwind conf
$max-width: 42em;

$color-primary: #bcbcbc;
$color-secondary: #f2f2f2;
$color-tertiary: #cecece;
$color-quaternary: #222222;
$color-quinary: #606060;

$color-senary: #bcbcbc;
$color-septenary: #f2f2f2;
$color-octonary: #cecece;
$color-nonary: #222222;
$color-denary: #606060;

$lys-font: "Noticia Text", sans-serif;
$primary-font: "Raleway", sans-serif;
$secondary-font: "Open Sans", sans-serif;

.text-gray {
  color: #bcbcbc;
  span {
    margin-right: 1em;
  }
}

%containers {
  padding: 2em;
}

h2 {
  font-size: 1.25em;
  padding: 1em;
  text-align: center;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  padding: 1em;
  text-align: center;
}

%title-text {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: $lys-font;
  font-weight: 700;
  font-size: 1.45em;

  padding: 0.5em;
  margin-bottom: 1.5em;
  max-width: 15em;
}

