# dev
.vscode
.vscode/
*.iml
*.swp
*.swo
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build
build/
build2
build2/
remote-repo/
coverage/
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
cgi-bin
.idea/
*.tgz
my-app*

# mac
.DS_STORE
.DS_Store

# packages
node_modules/
node_modules
.module-cache
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.npm/
yarn.lock
packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-scheduling-profiler/dist
fixtures/dom/public/react.js
fixtures/dom/public/react-dom.js
test/the-files-to-test.generated.js
template/src/__tests__/__snapshots__/

# environment variables
config
.env*
.envs

lys-lf-initial
.next
out